@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.h2 {
		@apply text-6xl;
	}

	.h2-subtext {
		@apply mt-4 text-2xl;
	}

	.section {
		@apply container m-auto px-4 mt-7 sm:mt-0;
	}

	.button {
		@apply bg-blue py-0 sm:py-3 lg:py-4 px-8 lg:px-16 rounded-[30px] text-white text-lg font-bold shadow-sm transition-all hover:bg-white hover:text-black border;
	}
	.nav-link {
		@apply hover:text-blue transition-all;
	}

	.services-row {
		@apply flex flex-col lg:flex-row justify-evenly gap-8 sm:gap-0 lg:h-40;
	}

	.service-block {
		@apply max-w-[215px] md:max-w-[240px] h-[120px] sm:h-[80px] lg:h-[120px] relative z-10 before:absolute before:-left-10 before:-top-4 before:h-[120px] before:w-24 before:-z-10 before:rounded-[40px];
	}

	.service-h4 {
		@apply text-serviceH4 text-xl font-medium;
	}

	.service-p {
		@apply mt-2 text-base leading-[19px] xl:text-lg xl:leading-5 font-medium;
	}
}

/* BURGER ANIMATION */
.burger {
	transition: all 0.7s, font-size 0s;
	transition-timing-function: cubic-bezier(0.68, -0.35, 0.265, 1.35);
}

.burger > div {
	transition: all 0.1s 0.3s, font-size 0s;
}
.burger > div::before,
.burger > div::after {
	transition: all 0.3s 0.2s, font-size 0s;
}
.burger.toggled {
	transform: rotate(180deg);
}
.burger.toggled > div::before {
	transform: rotate(45deg) translate(15%, 200%);
	width: 24px;
}
.burger.toggled > div {
	background: transparent;
}
.burger.toggled > div::after {
	transform: rotate(-45deg) translate(15%, -200%);
	width: 24px;
}

/* BURGER ANIMATION END */

/* H1 GRADIENT */
.h1-gradient {
	background: linear-gradient(
		128.81deg,
		#7ecaa6 5.43%,
		#61bdd1 20.17%,
		#cf6ddd 50.17%,
		#4061f8 75.98%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
/* H1 GRADIENT END */

/* GREY ELLIPS */
.grey-ellipce {
	transform: matrix(-0.77, 0.64, 0.64, 0.77, 0, 0);
}
/* GREY ELLIPS END */

/* PREPARATION FO AI */
.stages-bg {
	background: linear-gradient(
		90deg,
		rgba(138, 0, 222, 0.42) -3.04%,
		rgba(160, 60, 221, 0.51) -3.03%,
		rgba(61, 202, 118, 0.35) 46.34%,
		rgba(130, 100, 251, 0.3) 100%,
		rgba(61, 202, 118, 0.35) 46.34%,
		rgba(160, 60, 221, 0.51) -3.03%,
		rgba(138, 0, 222, 0.42) -3.04%,
		rgba(130, 100, 251, 0.3) 100%
	);
	animation: gradient 8s linear infinite;
	background-size: 500% 500%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.list-check {
	margin-top: 30px;
}

.list-check li {
	position: relative;
	padding-left: 20px;
	margin-top: 10px;
}

.list-check li::before {
	content: '';
	position: absolute;
	left: -1%;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	background-image: url(../src/img/check.svg);
	background-position: center;
	background-repeat: no-repeat;
}
/* PREPARATION FO AI END */
